h2 {

    font-family: Impact,'Arial Narrow Bold';
     text-align: center;
    }



    .con{
  
        background-color: bisque;
       
    }

.card{

    background-color: rgba(226, 166, 76, 0.541);   

}
